<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   <a class="navbar-brand" href="http://localhost:3000/">
        <img alt="Brand" src="https://40.media.tumblr.com/8200f6a5e6fbe0d51ec1db3ffb55b50c/tumblr_no0jx19Wkn1uqtc63o1_r1_75sq.png">

    	 <%= link_to "TiZE",root_path, class: "navbar-brand"%> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <!-- Control flow if else statement regarding what user views if logged in or out on the top foxed navbar -->
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div> 
</nav>

<!-- footer fixed to bottom -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p></p>
    <p class="text-center"> Kalman Chodakiewitz | Product Managemnent & UX</p>
  </div>
</nav>